# Configuración de base de datos local
MONGO_URI=mongodb://mongodb-local:27017
MONGO_DB=Tapomon

# Servidor central
TAPOMON_SERVER_URL=http://host.docker.internal:8000
TAPOMON_REQUEST_TIMEOUT=10

# Configuración P2P
# La IP que se mostrará cuando seas HOST.
P2P_HOST_IP=127.0.0.1
P2P_PORT=55201
